ansicon==1.89.0
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudscraper==1.2.71
colorama==0.4.6
configparser==6.0.0
console==0.9907
cryptography==44.0.2
cssselect==1.3.0
DataRecorder==3.6.2
DownloadKit==2.0.7
DrissionPage==4.0.5.6
et_xmlfile==2.0.0
ezenv==0.92
fake-useragent==2.1.0
filelock==3.18.0
greenlet==3.1.1
h11==0.14.0
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
iniconfig==2.0.0
jinxed==1.3.0
kaitaistruct==0.10
lxml==5.3.1
mutf8==1.0.6
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
playwright==1.50.0
pluggy==1.5.0
psutil==7.0.0
pyasn1==0.6.1
pycparser==2.22
pyCraft @ git+https://github.com/ammaraskar/pyCraft.git@bcd156e83bd35fb2fdc6cfa64f97bfc96d7cc1a1
pydivert==2.1.0
pyee==12.1.1
PyNBT==3.1.0
pyOpenSSL==25.0.0
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.3.5
pytest-base-url==2.1.0
pytest-playwright==0.7.0
python-dotenv==1.0.1
python-slugify==8.0.4
readchar==4.0.5
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
selenium==4.29.0
selenium-wire==5.1.0
setuptools==76.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stem==1.8.2
text-unidecode==1.3
tldextract==5.1.3
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
undetected-chromedriver==3.5.5
urllib3==2.2.2
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0.1
wsproto==1.2.0
zstandard==0.23.0
pystray
pypiwin32